body{
	color: $black;
	background-color: #ffffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-tabs.md-default-theme md-ink-bar{
	color: $maroon;
	background: $maroon;
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-focused{
	color: $maroon;
}

@import "_layout/header";
@import "_layout/footer";

@import "_layout/tablet";
@import "_layout/desktop";
