<h1 ng-if="book.id">Edit {{ book.title }}</h1>
<h1 ng-if="!book.id">Add Book</h1>

<md-content layout-padding>
    <form name="bookForm" ng-submit="save()">
      <div layout layout-sm="column">
        <md-input-container style="width:80%">
            <label>Title</label>
            <input ng-model="book.title">
          </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container style="width:80%">
          <label>Author</label>
          <input ng-model="book.author">
        </md-input-container>
      </div>

      <div layout layout-sm="column">
          <md-button class="md-raised md-primary" type="submit">Save</md-button>
      </div>
    </form>
  </md-content>
